<%- include('partials/header'); -%>

<link rel="stylesheet" href="/about.css">
<div class="abou">
<h1>About</h1>
<br>
<p>Get all the financial news of US market.</p>
<p>The Website is all about the financial data and services accessible to everyone.</p>
<p>Companie's market value and all other details of the company.</p>
<br>
<h5>What is the Stock Market?</h5>
<div class="ayush">
  <p>The stock market refers to the collection of markets and exchanges where regular activities of buying, selling, and 
  issuance of shares of publicly-held companies take place. Such financial activities are conducted through institutionalized
  formal exchanges or over-the-counter (OTC) marketplaces which operate under a defined set of regulations. There can be
  multiple stock trading venues in a country or a region which allow transactions in stocks and other forms of securities.</p>
</div>
</div>

<%- include('partials/footer'); -%>
