<%- include('partials/header'); -%>

<link rel="stylesheet" href="/contact.css">

<div class="abu">
  <h1>Contact</h1>
  <br>
  <p>This page is owned by Ayush Singh.</p>
  <p>If any querie, <b>Email: ayushrajput102@gmail.com</b></p>
  <br><br>
  <p>Subscribe to get updates about the Stock Market.</p>
<br>
  <form class="" action="/contact" method="POST">
    <input type="email" name="email" id="ayush" placeholder="Email address" required autofocus>
    <br><br>
    <button type="submit"  class="btn btn-outline-dark" name="button">Subscribe</button>
  </form>
</div>


<%- include('partials/footer'); -%>

<!--class="form-control"->
