<%- include('partials/header'); -%>
<link rel="stylesheet" href="/failure.css">

<div class="marpad">
  <h1>404 Error</h1>
  <br><br>
  <p>Something went wrong</p>
  <p>Invalid Input or Network Problem</p>
  <p>Check the network cables, modem, and router</p>
  <p>Please check your connection and Try Again.</p>
  <br><br>
  <a class="btn btn-outline-dark" href="/" role="button">Try Again</a>

</div>


<%- include('partials/footer'); -%>
