<%- include('partials/header'); -%>

<link rel="stylesheet" href="/failure.css">
<div class="marpad">
  <h1 class="display-4">Subscribed Successfully</h1>
  <br><br>
  <p class="lead">Thank you for Subscribing the website.</p>
  <br>
  <p>Now you get update notifications on your registered Emial.</p>
  <br><br>
  <a class="btn btn-outline-dark" href="/" role="button">Go Back</a>
</div>

<%- include('partials/footer'); -%>
