body{
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: cursive;
}
h1{
  font-weight: bold;
}

strong{
  color: black;
}
p{
  color: black;
  margin-bottom:0px;
}
.navlink:hover{
  font-weight: bold;
}

button{
  margin-left: 0;
}
.smallnav{
  background-color: #ffffff;
  padding-bottom:15px;
  padding-top: 15px;
}

.logo{
  margin-left: 40px;
}


.inpleft{
  border-radius: 30px;
  margin-left: 70px;
  margin-right: 0;

}

.butright{
  border-radius: 50%;
  margin-left: 0;
}
.navelement{
  margin-left: 20px;
}


.middle
{
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 20px;
}


.footer
{
  background-color: #706c61;
    height: 70px;
}

.footerp{
  padding-top: 25px;
}

@media (min-width: 794px) and (max-width:964px){

.navelement{
  margin-left: 0;
}
.logo{
  margin-left: 0;
}
.inpleft{
  margin-left: 5px;
}
}

@media (min-width:768px) and (max-width:793px){
  .smallnav{
    padding-left: 2px;
    padding-right: 5px;
  }
  .navelement{
    margin-left: 0;
  }
  .logo{
    margin-left: 0;
  }
  .inpleft{
    margin-left: 0;
  }
  .butright{
    padding: 0;
  }
}

@media (max-width:767px){

  .inpleft{
    margin-left: 30px;
    width: 42%;
  }
  .navelement{
    text-align: left;
    margin-left: 32px;
  }

}
